@use "./variables" as *;
@use "../components/btns";

* {
    outline: none;
}
html , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
    background-color: $white;
    color: $textColor;
    font-family: "Numbers", "YekanBakh", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    line-height: 2;
}

ul , li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

button {
    all: unset;
}

.colorWhite {
    color: white;
}

.rotate180 {
    rotate: 180deg;
}

.icon {
    width: 21px;
    aspect-ratio: 1;
    fill: $textColor;
    &.stroke {
        stroke: $textColor;
        fill: none;
        &.primary {
            stroke: $siteYellow;
        }
        &.lightText {
            stroke: $lightText;
        }
    }
}