@use "../global/variables" as *;
.mainBtn {
    border-radius: 48px;
    border: 1px solid rgba($color: $white, $alpha: 0.08);
    padding: 16px 24px;
    font-size: 18px;
    background-color: $black;
    box-shadow: 0 6px 20px 0 rgba($black , 0.4);
    &.small {
        padding: 10px 24px;
        font-size: 14px;
    }
    .icon {
        margin-left: 15px;
        width: 30px;
    }
}