@use "../global/variables" as *;

.siteFooter {
  background-color: $footerBack;
  padding: 4rem 0;
  border-radius: 48px 48px 0 0;
  .nav {
    display: flex;
    flex-direction: column;
    @media(max-width: 991px){
      display: none;
      margin-bottom: 30px;
    }
    &.open {
      display: flex;
    }
    li {
      margin-bottom: 10px;
    }
    a {
      color: $textCOlor;
    }
  }
}