@use "../global/variables" as *;

h1 , h2 , h3 , h4 {
    font-weight: 700;
}

p {
    color: rgba($textColor , 0.7);
}
.fs-54 {
    font-size: 54px;
    @media(max-width: 575px){
        font-size: 36px;
    }
}
.fs-36 {
    font-size: 36px;
    @media(max-width: 575px){
        font-size: 24px;
    }
}
.fs-20 {
    font-size: 20px;
    @media(max-width: 575px){
        font-size: 16px;
    }
}
.fs-16 {
    font-size: 16px;
    @media(max-width: 575px){
        font-size: 14px;
    }
}
.fs-18 {
    font-size: 18px;
    @media(max-width: 575px){
        font-size: 16px;
    }
}